# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyCharm stuff
.idea/

# Biomodels test results
results_simulated.csv

# Notebooks checkpoints
*/.ipynb_checkpoints/*

