matplotlib
python-libsbml
git+https://github.com/vincent-noel/python-libsedml.git#egg=python-libsedml
git+https://github.com/vincent-noel/python-libnuml.git#egg=python-libnuml
numpy
PyDSTool
sympy
bioservices
pandas
lxml
jinja2
coveralls<1.2.0